body{
  background-image: url("https://ak8.picdn.net/shutterstock/videos/1025596838/thumb/11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.p1 {
  color:white;
  font-size: 40px;
  font-style: italic;
}
.Jumbotron{
  /* background-color: transparent; */
  text-align: center;
  /* color: indigo; */
}
h1 {
  font-weight:bolder;
  font-style: oblique;
  font-size: 50px;
  color: white;
}
.container {
  text-align: center;
}
.fom p {
  color: white;
  font-weight: bold;
